<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Male-Fashion</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      .header__nav__option .sign-in-link {
        font-size: 16px;
        color: #333;
        margin-right: 15px;
        text-decoration: none;
        font-weight: 600;
      }
      .header__nav__option .sign-in-link:hover {
        color: #ff7f50;
      }
      .signup-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .signup-form,
      .signup-image {
        flex: 1;
        padding: 10px;
      }
      .signup-form {
        max-width: 50%;
      }
      .signup-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 40%;
      }
      .signup-image img {
        max-width: 100%;
        height: auto;
      }
      .social-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
      }
      .social-btns button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
      }
      .spacer {
        height: 30px; /* Adjust the height as needed */
      }
      .form-group label {
        font-size: 0.875rem; /* Decrease label size */
      }
      .form-control {
        font-size: 0.875rem; /* Decrease input text size */
        padding: 0.5rem; /* Decrease padding */
      }
      .btn-primary {
        padding: 0.5rem 1rem; /* Decrease button padding */
        font-size: 0.875rem; /* Decrease button text size */
      }
      .card-title {
        font-size: 1.25rem; /* Decrease card title size */
      }
      .signup-image .sign-in-link {
        color: #333;
        text-decoration: none;
      }
      .signup-image .sign-in-link:hover {
        color: #ff7f50;
      }
      .error-message{
        color: red;
        font-size: 0.75rem;                 
        display: none;      
      }
    </style>
  </head>
  <body>
    <div class="container mt-5 mb-1">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body signup-section">
              <div class="signup-form">
                <h3 class="card-title text-center">Sign Up</h3>


                <form id="signform" method="post" action="/signup">
                  <div class="form-group">
                    <label for="name">Full Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      placeholder="Enter Name"
                      required
                      autocomplete="name"
                    />
                    <div id="error1" class="error-message"></div>
                  </div>
                
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Enter email"
                      required
                      autocomplete="email"
                    />
                    <div id="error2" class="error-message"></div>
                  </div>
                
                  <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input
                      type="tel"
                      class="form-control"
                      name="phone"
                      id="phone"
                      placeholder="Enter phone number"
                      required
                      autocomplete="tel"
                      pattern="^\+?[0-9]{10,15}$"
                    />
                    <div id="error3" class="error-message"></div>
                  </div>
                
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      placeholder="Password"
                      required
                      autocomplete="new-password"
                      minlength="6"
                      maxlength="20"
                    />
                    <div id="error4" class="error-message"></div>
                  </div>
                
                  <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input
                      type="password"
                      class="form-control"
                      name="confirm_password"
                      id="confirm-password"
                      placeholder="Confirm Password"
                      required
                      autocomplete="new-password"
                      minlength="6"
                      maxlength="20"
                    />
                    <div id="error5" class="error-message"></div>
                  </div>
                  <%if(locals.message && message.length>0){%>
                    <div class="alert alert-danger text-center">
                      <%=message%>
                    </div>
                    <%}%>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary" name="submit">
                      Sign Up
                    </button>
                    <div class="mt-2px">
                      <p>or sign up with</p>
                    </div>
                    <div class="social-btns">
                      <a href="/auth/google" class="btn btn-outline-danger" name="google-signup" formnovalidate>
                        <img
                          src="img/googlesignup.png"
                          alt="Google Logo"
                          style="width: 24px; height: 24px"
                        />
                      </a>
                    </div>
                  </div>
                </form>
                
                
              </div>
              <div class="signup-image">
                <a href="/">
                  <img src="img/signup.svg" alt="Shopping Site" />
                </a>
                <div class="text-center mt-2">
                  <a href="#" class="sign-in-link"
                    >Already registered? Log in</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <%- include("../../views/partials/user/footer") %>
  
    <script>

    const nameid = document.getElementById("name");
    const emailid = document.getElementById("email");
    const phoneid = document.getElementById("phone");
    const passwordid = document.getElementById("password");
    const confirmpasswordid = document.getElementById("confirm-password");
    const error1 = document.getElementById("error1");
    const error2 = document.getElementById("error2");
    const error3 = document.getElementById("error3");
    const error4 = document.getElementById("error4");
    const error5 = document.getElementById("error5");
    const signform = document.getElementById("signform"); 




function nameValidateChecking (e){
  const nameval = nameid.value;
  const namepattern = /^[A-Za-z\s]+$/;          
  
  if(nameval.trim() === ""){
    error1.style.display = "block";
    error1.innerHTML = "Please enter a valid name";
  }else if (!namepattern.test(nameval)){
  error1.style.display = "block";
  error1.innerHTML= "Name can only contain letters and spaces";
  }else {
    error1.style.display = "none";
    error1.innerHTML = "";
  }
}

   function emailValidateChecking(e){
    const emailval = emailid.value;   
    const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+(\.[a-zA-Z]{2,10})+$/;

    if(!emailPattern.test(emailval)){
      error2.style.display="block";
      error2.innerHTML="Invalid Format"
    }else{
      error2.style.display="none";
      error2.innerHTML="";
    }


  }


  function phoneValidateChecking(e) {
  const phoneval = phoneid.value.trim(); 

  if (phoneval === "") {
    error3.style.display = "block";
    error3.innerHTML = "Enter a valid phone number";
  } else if (!/^\d{10}$/.test(phoneval)) {
    error3.style.display = "block";
    error3.innerHTML = "Phone number must be exactly 10 digits";
  } else {
    error3.style.display = "none";
    error3.innerHTML = "";
  }
}


   function passValidationChecking(e){
     const passval = passwordid.value;
     const confirmpasswordval = confirmpasswordid.value;
     const alpha = /[a-zA-Z]/;
     const digit = /\d/;
     if(passval.length<8){
      error4.style.display="block";
      error4.innerHTML="Should contain atleast 8 characters";
     }else if (!alpha.test(passval) || !digit.test(passval)){
      error4.style.display="block";
      error4.innerHTML="Should contain numbers and alphabets"
     }else {
      error4.style.display="none"
      error4.innerHTML="";
     }
     if(passval !==confirmpasswordval){
      error5.style.display="block";
      error5.innerHTML="Passwords do not match"
     }else {
      error5.style.display="none";
      error5.innerHTML="";
     }
   }

   
    document.addEventListener("DOMContentLoaded",function(){
      signform.addEventListener("submit",function(e){

        nameValidateChecking();
        emailValidateChecking();
        phoneValidateChecking();
        passValidationChecking();

        if(
         !nameid ||
         !emailid ||
         !phoneid ||
         !passwordid  ||
         !error1 ||
         !error2 ||
         !error3 ||
         !error4 ||
         !error5 ||
         signform
        )   {
          console.error("One or more element not found")
        }  
        
        if(

         error1.innerHTML || 
         error2.innerHTML ||
         error3.innerHTML ||
         error4.innerHTML ||
         error5.innerHTML 
        ){
          e.preventDefault();
        }

      });
    });

    </script>


